html{
  font-size: 100px;
}
@media screen and (max-width:1100px){
  html{
    font-size: 50px;
  }
}
.el-dialog{
  border:.16rem solid #D81734;
  background: #FFFADE;
  box-shadow: 0 4px 24px 0 rgba(52,7,7,0.50), 0 4px 10px 0 rgba(7,52,22,0.20) inset;
  border-radius: .1rem;
}

.el-dialog a{
  text-decoration: underline;
}
.el-dialog__header{
  text-align: center;
}
.el-dialog__header .el-dialog__title{
  font-size: .20rem;
  color: #C53028;
  text-shadow: 0rem 0rem 0.2rem #C53028;
}
.el-dialog__header .el-dialog__headerbtn{
  display: none;
}
.el-dialog__body > p{
  font-size: .14rem;
  color: #C53028;
  padding:.06rem 0;
}
.el-dialog__footer{
  display: flex;
  justify-content: center;
}
.el-button{
  width: 1.74rem;
  height: .5rem;
  background: #C53028;
  box-shadow: 0 4px 9px 0 rgba(117,4,0,0.20);
  border-radius: .25rem;
  border: none;
  font-size: .24rem;
}
.el-button.how{
  width:auto;
  height:auto;
  background:transparent;
  border:none;
  font-size: .16rem;
  color: #B3A6FF;
  transition:opacity .2s ease-in-out;
  padding:0;
}
.el-button.how:hover{
  opacity:.5;
}



.el-slider{
  width: 100%;
}
.el-slider__runway{
  height: .24rem;
  background-color: #E2BF81;
  border-radius:50px;
  position: relative;
  z-index: 1;
}
.el-slider__bar{
  background-image: linear-gradient(-180deg, #F0544C 3%, #AB0900 100%);
  border-radius:50px;
  height:.24rem;
}

.el-slider__button-wrapper{
  height: .24rem;
  width: .24rem;
  background-color: #ffffff;
  /*box-shadow: 0px 0px 8px 0px*/
  /*rgba(9, 8, 58, 0.45);*/
  border-radius:100%;
  top:-0rem;
}
.el-slider__button-wrapper::before{
  position: absolute;
  content:attr(data-before);
  width: .46rem;
  height: .42rem;
  left:-.1rem;
  top:-.4rem;
  color: #000;
  background-color: transparent;
  background-image: url('../../assets/images/bubble.png');
  background-repeat: no-repeat;
  background-size:100% auto;
  text-align: center;
  font-size: .16rem;
  line-height:.3rem;
}
.el-slider__button{
  background-color: transparent;
  border:none;
}
.el-tooltip__popper.is-dark{
  width: 110px;
  height: 62px;
  background-color: transparent;
  /*background-image: url('../images/tool-tip.png');*/
  text-align: center;
  font-size: 30px;
  line-height:30px;
}

